.board > div{
    border: 1px solid;
    height: 60px;
    width: 60px;
    font-size: 50px;
    text-align: center;
    padding-top: 5px;
}
.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 180px;
    width: 180px;
    grid-gap: 0;
}
.reset {
    margin-top: 50px;
}
.board :nth-child(1){
    border-left: none;
    border-top: none;
}
.board :nth-child(2){
    border-top: none;
}
.board :nth-child(3){
    border-right: none;
    border-top: none;
}
.board :nth-child(4){
    border-left: none;
}
.board :nth-child(6){
    border-right: none;
}
.board :nth-child(7){
    border-left: none;
    border-bottom: none;
}
.board :nth-child(8){
    border-bottom: none;
}
.board :nth-child(9){
    border-right: none;
    border-bottom: none;
}