#square {
    margin: 100px;
    width: 100px;
    height: 100px;
    background: #cc0;
    animation: spin 50s ease-in infinite;
}

@keyframes spin { from { transform:rotate(0deg); } to { transform:rotate(3600deg); } }