@media only screen and (min-width: 500px ){

    body{
        overflow-y: hidden;
        overflow-x: hidden;
    }
    header, main, footer {
        max-width: 900px;
        margin: 0 auto;
    }
    header{
        background-color: rgba(255, 255, 255, .2);
    }
    #smallButton{
        display: none;
    }
    header>img{
        grid-row: 1/3;
    }
    header>form {
        display: block;
        grid-row: 2/3;
        grid-column: 2/3;
    }
    header>form>fieldset{
        font-size: 0.8rem;
        margin: 0.6rem;
        display: inline-block;
    }
    header>form>fieldset>label{
        margin: 0.2rem;
        display: block;
    }
    header>form>label{
        font-size: 0.8rem;
        margin: 0.6rem;
        display: inline-block;
    }
    header>form>label>input, header>form>label>select{
        display: block;
    }
    #book{
        width: 116px;
    }
    #chapter{
        width: 50px;
    }
    #verse{
        width: 70px;
    }
    main{
        display: grid;
        grid-template-columns: 1fr 2fr;
        background-color: rgba(255, 255, 255, .2);
    }
    .sectionShow{
        max-height: 65vh;
    }
    .sectionSaved{
        max-height: 65vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    #saved{
        margin-top: 1rem;
        flex-grow: 4;
        overflow-y: scroll;
    }
    #scriptureResult{
        margin: 1rem;
        margin-bottom: 1.5rem;
        height: 85%;
        overflow-y: scroll;
        line-height: 1.5rem;
    }

/*----------------------------------Animation-------------------------------------*/
 
main>img{
    display: block;
}

.nube1, .nube2, .nube3, .nube4, .nube5 {
    z-index: -1;
    position: absolute;
}
.nube1{
    top: -10vh;
    left: -25vw;
}
.nube2{
    top: 15vh;
    left: 15vw;
}
.nube3{
    top: 50vh;
    left: -25vw;
}
.nube4{
    top: 75vh;
    left: -20vw;
}
.nube5{
    top: 55vh;
    left: 60vw;
}

@keyframes moveRight { 
    from {
    transform: translateX(0%);
    }
    to {
    transform: translateX(120vw);
    }
}

.nube1 {
    animation: 35s linear normal infinite moveRight;
}
.nube3 {
    animation: 37s linear normal 14s infinite moveRight;
}
.nube4 {
    animation: 42s linear normal infinite moveRight;
}

}

