* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: black;
    color: yellow;
    text-align: center;
}
h1{
    margin: 1rem;
}
div > div {
    margin: 1rem;
    padding: 0.5rem;
    border: 0.1rem solid yellow;
}
span{
    color: aliceblue;
}
.buttons{
    display:flex;
    justify-content: space-around;
    margin: 2rem auto;
    
}
button{
    width: 20%;
    background-color: yellow;
    color: black;
    font-size: 1.2rem;
}