@media only screen and (min-width: 32.5em ){
    header {
        display: grid;
        grid-template-columns: 180px 1fr;
        align-items: center;
        justify-items: center;
        border-radius: 10px;
    }  
    header img {
        width: 100%;
        padding: 0.8rem 1rem;
        border-radius: 20px;
    }
    footer{

        border-radius: 10px;
    }
} 